body {
margin: 0;
}
#head1{
	background:url(../images/img/head1.png);
	height: 64px;
    margin: 0 auto;
    width: 100%;
}
#head2{
	background:url(../images/img/head2.png);
	 height: 36px;
    margin: 0;
    width: 100%;
}
#head1 #head1_logo {
	float: left;
    left: 20px;
    position: absolute;
    top: 12px;
	color: #F1F9FE;
    font-family: Arial Black,Arial;
    font-size: 28px;
}
#head1 #head1_welcome {
    float: right;
    color: #B3E1FF;
    font-family: "宋体";
    font-size: 12px;
    height: 25px;
	padding-top: 21px;
	margin-right: 20px;
}
#head1 #head1_help{
	position:absolute;
	top: 40px;
	right: 18px;
	height:18px;
}
#head2 #head2_position,#head2_refresh{
	color:#ffffff;
    font-family: "宋体";
    font-size: 13px;
    height: 100%;
    padding-right: 26px;
    padding-top: 10px;
}
#head2 a{
	text-align:center;
	text-decoration:none;
	color: #039;
}